---
import ToolList from "~/components/ToolList.astro"
import Intro from "~/components/global/Intro.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"

const title = "Tools I Use"
const description =
  "Personal set of tools, apps, and software I use in my startup journey. I update this list as I find new tools or apps that I like. Most of them are paid, but offer a generous free tier."
---

<BaseLayout title={title} description={description}>
  <Intro>
    <h2 slot="title">{title}</h2>
    <p slot="description">{description}</p>
  </Intro>

  <ToolList />
</BaseLayout>
