@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    /* Contextual Alternates */ "calt" 1,
    /* Discretionary Ligatures */ "dlig" 1,
    /* fSquare punctuation */ "ss07" 1,
    /* Square quotes */ "ss08" 1,
    /* Slashed zero */ "zero" 1,
    /* Tabular numbers */ "tnum" 1,
    /* Open six */ "cv03" 1,
    /* Open nine */ "cv04" 1,
    /* Alternate one */ "cv01" 1,
    /* Flat-top three */ "cv09",
    /* Open 4 */ "cv02" 1;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  --astro-code-color-text: #000000;
  --astro-code-color-background: #f5f5f5;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #00000050;
  --astro-code-token-comment: #00000060;
  --astro-code-token-keyword: black;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: black;
  --astro-code-token-string-expression: #fe351b;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}

.prose-styles {
  @apply prose;
  @apply prose-neutral;
  @apply dark:prose-invert;
  @apply prose-a:font-normal;
  @apply prose-a:text-black;
  @apply dark:prose-a:text-white;
  @apply hover:prose-a:text-blue-500;
  @apply first:prose-p:mt-0;
  @apply last:prose-p:mb-0;
  @apply first:prose-ul:mt-0;
  @apply last:prose-ul:mb-0;
  @apply prose-li:m-0;
  @apply prose-img:border;
  @apply prose-img:border-neutral-200;
  @apply prose-img:rounded-md;
  @apply prose-lead:text-lg/relaxed;
  @apply prose-pre:font-mono;
  @apply prose-pre:rounded-none;
  @apply prose-headings:font-semibold;
  @apply prose-headings:font-display;
  @apply prose-headings:text-neutral-800;
  @apply dark:prose-headings:text-neutral-200;
  @apply text-neutral-600;
  @apply dark:text-neutral-400;
}
