---
import { getCollection } from "astro:content"
import PostList from "~/components/PostList.astro"
import Intro from "~/components/global/Intro.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => !data.isDraft)
  const uniqueTags = [...new Set(posts.flatMap((post) => post.data.tags))]

  return uniqueTags.map((tag) => {
    // Filter posts by tag
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag))
    // Sort filtered posts by date in descending order
    const sortedPosts = filteredPosts.sort(
      (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    )

    return {
      params: { tag },
      props: { posts: sortedPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
const title = `Posts tagged "${tag}"`
---

<BaseLayout>
  <Intro>
    <h2 slot="title">{title}</h2>
    <PostList posts={posts} />
  </Intro>
</BaseLayout>
