---
import { getCollection } from "astro:content"
import BaseLayout from "~/layouts/BaseLayout.astro"
const allPosts = await getCollection("posts")
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
const sortedTags = tags.sort((a, b) => a.localeCompare(b)) // Sort tags alphabetically

const pageTitle = "Tag Index"
---

<BaseLayout pageTitle={pageTitle}>
  <section class="space-y-2">
    <h3 class="font-display font-medium text-neutral-800 dark:text-neutral-200">{pageTitle}</h3>
    <ol>
      {
        sortedTags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`} class="group flex min-w-0 items-center gap-4 py-1">
              <p class="truncate text-sm group-hover:underline">{tag}</p>

              <span class="h-px min-w-[2rem] flex-1 bg-current opacity-15" />
            </a>
          </li>
        ))
      }
    </ol>
  </section>
</BaseLayout>
