---
import { getCollection } from "astro:content"
import TagList from "~/components/TagList.astro"
import Intro from "~/components/global/Intro.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"

const posts = await getCollection("posts", ({ data }) => !data.isDraft)
const tagCountMap = new Map<string, number>()

for (const post of posts) {
  for (const tag of post.data.tags) {
    const count = tagCountMap.get(tag) || 0
    tagCountMap.set(tag, count + 1)
  }
}

const tags = Array.from(tagCountMap, ([tag, count]) => ({ tag, count })).sort((a, b) =>
  a.tag.localeCompare(b.tag)
)

const title = "Tag Index"
---

<BaseLayout title={title}>
  <Intro>
    <h1 slot="title">{title}</h1>
    <TagList tags={tags} />
  </Intro>
</BaseLayout>
