---
import Intro from "~/components/global/Intro.astro"
import Prose from "~/components/global/Prose.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"
---

<BaseLayout>
  <Intro>
    <h1 slot="title">Page not found</h1>

    <Prose>
      <p>
        The page you are looking for does not exist.<br /><a href="/">Go back to the home page</a>.
      </p>
    </Prose>
  </Intro>
</BaseLayout>
