---
import Prose from "~/components/global/Prose.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"

const title = "About me"
---

<BaseLayout title={title}>
  <section class="space-y-2">
    <h3 class="font-display font-medium">{title}</h3>

    <Prose>
      <ul class="text-sm">
        <li>born in late 80s in the beautiful city of Krakow</li>
        <li>programmer-turned-solopreneur</li>
        <li>15+ years of experience</li>
        <li>working with companies big and small</li>
        <li>working locally and globally</li>
        <li>interested in <a href="/tools/">software</a>, seo, open source & ai</li>
        <li>passionate about minimalism & simplicity</li>
        <li>built and shipped a lot of useful <a href="/projects/">web projects</a></li>
      </ul>
    </Prose>
  </section>
</BaseLayout>
