---
import NewsletterForm from "~/components/NewsletterForm.astro"
import Input from "~/components/global/Input.astro"
import Intro from "~/components/global/Intro.astro"
---

<Intro id="newsletter" class="mt-auto">
  <h2 slot="title">Newsletter</h2>
  <p slot="description">Get notified when I publish new posts.</p>

  <NewsletterForm server:defer>
    <Input disabled slot="fallback" />
  </NewsletterForm>
</Intro>
