---
import LoaderIcon from "~/assets/loader.svg"
import Input from "~/components/global/Input.astro"
---

<form class="w-full max-w-xs" id="email-form" novalidate>
  <div class="relative w-full">
    <Input
      id="email"
      name="email"
      type="email"
      placeholder="Enter your email..."
      aria-describedby="error"
      transition:persist
      data-1p-ignore
    />

    <button
      type="submit"
      class="absolute inset-y-1 right-1 inline-flex items-center justify-center gap-2 rounded bg-foreground text-background px-3 py-1 text-[13px] duration-200 hover:opacity-80 disabled:opacity-50"
    >
      <LoaderIcon class="hidden animate-spin size-5" />
      <span>Subscribe</span>
    </button>
  </div>
</form>

<script>
  import { actions, isInputError } from "astro:actions"

  type MessageType = "error" | "success"

  const form = document.getElementById("email-form") as HTMLFormElement
  const submitButton = form.querySelector("button") as HTMLButtonElement
  const spinner = submitButton.querySelector("svg") as SVGElement
  const buttonText = submitButton.querySelector("span") as HTMLSpanElement

  const handleMessage = (message: string, type: MessageType) => {
    document.getElementById("message")?.remove()

    const messageEl = document.createElement("p")
    messageEl.id = "message"
    messageEl.className = `${type === "success" ? "text-success" : "text-error"} mt-2 text-sm`
    messageEl.innerText = message
    form.appendChild(messageEl)
  }

  const handleFormSubmit = async (e: Event) => {
    e.preventDefault()

    submitButton.disabled = true
    spinner.classList.remove("hidden")
    buttonText.innerText = "Subscribing..."

    try {
      const { data, error } = await actions.subscribe(new FormData(form))

      if (error && isInputError(error)) {
        handleMessage(error.fields.email?.[0] ?? "Invalid email", "error")
        return
      }

      ;(document.getElementById("email") as HTMLInputElement).value = ""
      handleMessage(data?.message ?? "Success!", "success")
    } finally {
      submitButton.disabled = false
      spinner.classList.add("hidden")
      buttonText.innerText = "Subscribe"
    }
  }

  form.addEventListener("submit", handleFormSubmit)
</script>
