---
import type { CollectionEntry } from "astro:content"
import Item from "~/components/global/Item.astro"
import { formatDate } from "~/utils"

type Props = {
  posts: CollectionEntry<"posts">[]
}

const { posts } = Astro.props
---

{
  !!posts.length ? (
    <nav>
      {posts.map(({ data, slug }) => (
        <a href={`/posts/${slug}`} title={data.title} class="block">
          <Item>
            <Fragment slot="title">{data.title}</Fragment>

            <time datetime="2020-03-16" slot="aside">
              {formatDate(data.pubDate)}
            </time>
          </Item>
        </a>
      ))}
    </nav>
  ) : (
    <p>No posts found</p>
  )
}
