---
import { formatDate } from "@curiousleaf/utils"
import type { CollectionEntry } from "astro:content"

type Props = CollectionEntry<"projects">["data"]

const { url, title, description, year } = Astro.props
---

<li>
  <a
    href={url}
    target="_blank"
    class="group flex min-w-0 flex-wrap items-center gap-x-4 gap-y-1 py-1"
  >
    <p class="truncate text-sm group-hover:underline">
      {title}
    </p>

    <span class="h-px min-w-[2rem] flex-1 bg-current opacity-15"></span>

    <time datetime="2020-03-16" class="shrink-0 text-xs text-neutral-500">
      {year}
    </time>

    {description && <p class="w-full text-xs text-neutral-500">{description}</p>}
  </a>
</li>
