---
import type { HTMLAttributes } from "astro/types"
import type { CollectionEntry } from "astro:content"
import ProjectItem from "~/components/ProjectItem.astro"
import Prose from "~/components/global/Prose.astro"

type Props = HTMLAttributes<"div"> & {
  title?: string
  description?: string
  projects: CollectionEntry<"projects">[]
}

const { title, description, projects, ...props } = Astro.props
---

<section class="space-y-2" {...props}>
  {
    title && (
      <h3 class="font-display font-medium text-neutral-800 dark:text-neutral-200">{title}</h3>
    )
  }

  {
    description && (
      <Prose>
        <p class="!m-0 text-sm">{description}</p>
      </Prose>
    )
  }
</section>

{
  !!projects.length ? (
    <ul class="space-y-2">
      {projects.map((project) => (
        <ProjectItem {...project.data} />
      ))}
    </ul>
  ) : (
    <p>No projects found</p>
  )
}
