---
import type { CollectionEntry } from "astro:content"
import Item from "~/components/global/Item.astro"

type Props = {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props
---

{
  !!projects.length ? (
    <ul>
      {projects.map(({ data }) => (
        <Item>
          <a href={data.url} target="_blank" title={data.description}>
            {data.title}
          </a>
        </Item>
      ))}
    </ul>
  ) : (
    <p>No projects found</p>
  )
}
