---
import type { CollectionEntry } from "astro:content"
import Item from "~/components/global/Item.astro"

type Props = {
  projects: CollectionEntry<"projects">[]
}

const { projects } = Astro.props
---

{
  !!projects.length ? (
    <nav class="space-y-2">
      {projects.map(({ data }) => (
        <a href={data.url} target="_blank" class="block">
          <Item>
            <Fragment slot="title">{data.title}</Fragment>
            <Fragment slot="aside">{data.year}</Fragment>

            {data.description && <Fragment slot="description">{data.description}</Fragment>}
          </Item>
        </a>
      ))}
    </nav>
  ) : (
    <p>No projects found</p>
  )
}
