---
import Item from "~/components/global/Item.astro"

type Props = {
  tags: { tag: string; count: number }[]
}

const { tags } = Astro.props
---

{
  !!tags.length ? (
    <ul>
      {tags.map((tag) => (
        <Item>
          <a href={`/tags/${tag.tag}/`}>{tag.tag}</a>

          <Fragment slot="aside">
            {tag.count}&nbsp;{tag.count === 1 ? "post" : "posts"}
          </Fragment>
        </Item>
      ))}
    </ul>
  ) : (
    <p>No tags found</p>
  )
}
