---
import HoverList from "~/components/global/HoverList.astro"
import Item from "~/components/global/Item.astro"

type Props = {
  tags: { tag: string; count: number }[]
}

const { tags } = Astro.props
---

{
  !!tags.length ? (
    <HoverList>
      {tags.map((tag, i) => (
        <Item index={i} href={`/tags/${tag.tag}/`}>
          <span class="font-medium">#{tag.tag}</span>

          <Fragment slot="aside">
            {tag.count}&nbsp;{tag.count === 1 ? "post" : "posts"}
          </Fragment>
        </Item>
      ))}
    </HoverList>
  ) : (
    <p>No tags found</p>
  )
}
