<footer class="mt-auto">
  <p class="text-sm text-neutral-500" x-data="{ year: new Date().getFullYear() }">
    © <span x-text="year"></span> &middot;
    <a
      href="https://x.com/piotrkulpinski"
      target="_blank"
      rel="nofollow"
      class="hover:text-black hover:underline dark:hover:text-white">Twitter</a
    > &middot;
    <a
      href="https://github.com/piotrkulpinski"
      target="_blank"
      rel="nofollow"
      class="hover:text-black hover:underline dark:hover:text-white">GitHub</a
    >
  </p>
</footer>
