---
const year = new Date().getFullYear()
---

<footer>
  <p class="text-sm text-muted">
    © {year} &middot;
    <a href="/tags" class="hover:text-foreground">Tags</a> &middot;
    <a
      href="https://x.com/piotrkulpinski"
      target="_blank"
      rel="nofollow noopener noreferrer"
      class="hover:text-foreground"
    >
      Twitter
    </a> &middot;
    <a
      href="https://bsky.app/profile/kulpinski.dev"
      target="_blank"
      rel="nofollow noopener noreferrer"
      class="hover:text-foreground"
    >
      Bluesky
    </a> &middot;
    <a
      href="https://github.com/piotrkulpinski"
      target="_blank"
      rel="nofollow noopener noreferrer"
      class="hover:text-foreground"
    >
      GitHub
    </a>
  </p>
</footer>
