---
import type { HTMLAttributes } from "astro/types"
import Prose from "~/components/global/Prose.astro"

type Props = HTMLAttributes<"div">

const { class: className, ...props } = Astro.props

const slots = Astro.slots
const hasTitle = slots.has("title")
const hasDescription = slots.has("description")
---

<section class:list={[className, "flex flex-col gap-2 md:gap-3"]} {...props}>
  {
    hasTitle && (
      <div class="font-medium text-muted">
        <slot name="title" />
      </div>
    )
  }

  <slot />
</section>
