---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"section">

const { class: className, ...props } = Astro.props

const slots = Astro.slots
const hasTitle = slots.has("title")
---

<section class:list={[className, "flex flex-col gap-3"]} {...props}>
  {
    hasTitle && (
      <div class="text-sm font-medium text-muted [&_h1]:text-sm [&_h1]:font-medium [&_h2]:text-sm [&_h2]:font-medium">
        <slot name="title" />
      </div>
    )
  }

  <slot />
</section>
