<li class="relative list-none">
  <span class="absolute right-full top-1 text-muted">﹂</span>

  <slot />

  <span class="shrink-0 text-sm text-muted whitespace-nowrap">
    <slot name="aside" />
  </span>
</li>
