---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { pathname } = new URL(Astro.request.url)
const { href, ...props } = Astro.props as Props
---

<a
  href={href}
  class:list={[
    "text-sm",
    href === pathname || (href !== "/" && pathname.startsWith(href as string))
      ? "text-foreground underline"
      : "text-muted hover:text-foreground",
  ]}
  {...props}
>
  <slot />
</a>
