---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { pathname } = new URL(Astro.request.url)
const { href, class: className, ...props } = Astro.props as Props

const isActive = href === pathname || (href !== "/" && pathname.startsWith(href as string))
---

<a
  href={href}
  aria-current={isActive ? "page" : undefined}
  class:list={[
    className,
    "rounded-md px-2 py-1 font-medium hover:bg-foreground/5",
    isActive ? "bg-foreground/5 text-foreground" : "text-muted hover:text-foreground",
  ]}
  {...props}
>
  <slot />
</a>
