---
import Link from "~/components/global/Link.astro"
import Logo from "../../../public/images/logo.svg"
---

<div class="flex items-center justify-between">
  <a href="/" class="shrink-0 font-medium text-primary"> Piotr Kulpinski </a>

  <nav class="flex flex-wrap items-center gap-3 md:gap-4">
    <Link href="/">/home</Link>
    <Link href="/posts">/posts</Link>
  </nav>
</div>
