---
import Link from "~/components/global/Link.astro"
import Logo from "../../../public/images/logo.svg"
---

<div class="flex items-center justify-between">
  <a href="/" class="group flex shrink-0 items-center gap-2">
    <Logo class="inline-block size-6" height="128" width="128" />

    <p class="font-display text-sm font-medium group-hover:opacity-80">Piotr Kulpinski</p>
  </a>

  <nav class="flex flex-wrap items-center gap-3 md:gap-4">
    <Link href="/">Home</Link>
    <Link href="/tools">Tools</Link>
    <Link href="/about">About</Link>
  </nav>
</div>
