<section>
  <h3 class="font-display font-medium">Newsletter</h3>
  <p class="text-sm text-neutral-500">Get notified when I publish new posts.</p>

  <form action="" class="relative mt-4 flex w-full max-w-xs flex-col gap-2 sm:flex-row">
    <input
      name="email"
      type="email"
      class="block w-full rounded-md border bg-transparent px-3 py-2 pr-24 text-[13px] font-medium placeholder:text-inherit placeholder:opacity-40 disabled:opacity-50 dark:border-neutral-700"
      placeholder="Enter your email..."
      data-1p-ignore
      required
    />

    <button
      class="absolute inset-y-1 right-1 inline-flex items-center justify-center rounded bg-current px-3 py-1 text-[13px] duration-200 hover:opacity-80"
    >
      <span class="invert">Subscribe</span>
    </button>
  </form>
</section>
